*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color:cadetblue;
}
.hero{
    display: flex;
    justify-content: center;
}

nav{
    display:flex;
    justify-content:last baseline;
    align-items:center;
    background-color:darkslategray;
    position: sticky;
    top: 0;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

nav ul li{
    font-family: century;
    font-size: 1.5rem;
    font-weight:bold;
}

nav ul li a{
    text-decoration: none;
    color:burlywood;
    padding: 7px 25px;
    transition: all .5s ease;
}

nav ul li a:hover{
    background-color:azure;
    color:black;
    box-shadow: 0 0 10px white;

}

#Home{
    display: flex;
    height: 800px;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color:black;
}

.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    align-items: center;
    margin: 0px 0px;
}

.btn{
    padding: 10px 35px;
    background-color:burlywood;
    color: white;
    transition: .5s ease;
    font-family: century;
    font-size: 1.5rem;
    font-weight:bold;
}
.btn:hover{
    cursor: pointer;
    background-color: antiquewhite;
    
}
/*portofolio*/
#portofolio{
    display:flex;
    flex-direction:column;
}

.picture{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.picture img{
    width: 360px;
    height: 240px;
    margin: 10px;
}

.table{
    display:flex;
    flex-direction:column;
    align-content:center;
    font-family:sans-serif;
}
th{
    font-family: gill sans;
}
td {
    font-style: normal;
    font-family: Arial;
    font-variant:normal;
    text-align:center;
    
}
.contact{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
}

